@import url(reset.css);

@font-face {
    font-family: "Raleway-Regular", sans-serif; 
    src: url("/fonts/Raleway-Regular.ttf") format("truetype");
    src: url("/fonts/Raleway-Regular.woff") format("woff"); 
    font-style: normal;
    font-weight: 400;
} 

@font-face {
    font-family: "Raleway-Medium", sans-serif; 
    src: url("/fonts/Raleway-Medium.ttf") format("truetype");
    src: url("/fonts/Raleway-Medium.woff") format("woff"); 
    font-style: normal;
    font-weight: 500;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hide {
    display: none !important;
}

body {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 16px;
}

body.lock {
    overflow: hidden;
}

.dashed {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px dashed #fff;
    border-radius: 0 80px 0 0;
    z-index: 1;
    left: 30px;
    top: -30px;
}

.button {
    display: inline-block;
    font-family: "Raleway-Medium", sans-serif;
    line-height: 1;
    text-align: center;
    color: #FDFDFD;
    background-color: #FA9F42;
    border-radius: 0px 20px;
    border: 2px solid transparent;
    padding: 18px 43px;
    transition: background-color .4s ease 0s;
}

.best-teacher__box .button:hover {
    color: #FA9F42;
}

.best-teacher__box .button-green:hover {
    color: #10B582;
}

.button:hover {
    background-color: transparent;
    border: 2px solid #FA9F42;
    color: #FDFDFD !important;
}

.join .button:hover {
    color: #FA9F42 !important;
}

.join .button:active,
.button:active {
    background-color: #FA9F42;
    opacity: .6;
    color: #FDFDFD !important;
}

.button-green {
    background-color: #10B582;
}

.button-green:hover {
    background-color: transparent;
    border: 2px solid #10B582;
    color: #10B582 !important;
}

.button-green:active {
    color: #E9EAED !important;
    background-color: #10B582;
    opacity: .6;
}

.title {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 58px;
    line-height: 1.2;
    text-align: center;
    color: #FDFDFD;
}

.text {
    line-height: 1.5;
    color: #FDFDFD;
}

.text-dark,
.title-dark {
    color: #353A5A;
}

.social {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}

.social a {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.social a path {
    transition: all .4s ease 0s;
}

.social a:hover path {
    fill: #353A5A;
    opacity: 0.3;
}

.down-up {
    position: absolute;
    right: -40px;
    bottom: 0;
    z-index: 4;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    0% {
        bottom: -20px;
    }

    50% {
        bottom: 0px;
    }

    100% {
        bottom: -20px;
    }
}

.down-up_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-up_box span {
    font-size: 14px;
    line-height: 1;
    color: #FDFDFD;
    transform: rotate(-90deg) translateX(50%);
}

.bg-light {
    background-color: #fdfdfd;
}

/* -------- header -------- */
.header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 5;
    background-color: #10B582;
}

.header__logo,
.header__burger {
    display: none;
}

.header__logo img {
    max-width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__nav {
    margin: 0 auto;
}

.header__nav .social {
    display: none;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 15px;
}

.header__link {
    font-family: "Raleway-Medium", sans-serif; 
    line-height: 1;
    color: #FDFDFD;
    border-bottom: 2px dashed transparent;
    padding-bottom: 4px;
    transition: border-bottom .3s ease-in-out 0s;
}

.header__link:hover {
    border-bottom: 2px dashed #FA9F42;
}

/* -------- s1_platform -------- */

.platform,
.format {
    background-color: #10B582;
}

.platform__container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.platform__wrapper {
    position: relative;
    overflow: hidden;
}

.platform__img-box {
    position: absolute;
    bottom: 0;
    left: 0;
}

.platform__img-box .platform__img img {
    position: relative;
    max-width: 100%;
    border-radius: 0 80px 0 0;
    z-index: 1;
}

.platform__img-box_2 {
    position: absolute;
    right: 0;
    left: auto;
    top: 30px;
    bottom: auto;

}

.platform__img-box_2 .dashed,
.platform__img-box_2 .platform__img img {
    border-radius: 80px 0 0 0;
}

.platform__img-box_2 .dashed {
    left: -30px;
}

.platform__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 92px;
    position: relative;
    z-index: 3;
}

.platform__info .title {
    max-width: 542px;
    margin-top: 40px;
}

.platform__text {
    max-width: 378px;
    margin-top: 20px;
}

.main-button {
    margin-top: 50px;
}

/* -------- learn -------- */
.numbers {
    display: grid;
    grid-template-columns: minmax(auto, 270px) auto auto minmax(auto, 270px);
    text-align: center;
    gap: 45px;
    padding-top: 120px;
}

.number .title {
    color: #10B582;
}

.number p {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 15px;
    color: #353A5A;
}

.best-teacher__box {
    max-width: 491px;
}

.best-teacher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
    padding-bottom: 120px;
}

.best-teacher__box .title {
    text-align: left;
}

.best-teacher__text {
    margin-top: 10px;
}

.best-teacher__text p + p {
    margin-top: 20px;
}

.teachers {
    display: grid;
    grid-template-columns: minmax(auto, 170px) auto minmax(auto, 170px);
    gap: 30px;
}

.teachers__item {
    width: 170px;
    overflow: hidden;
    text-align: center;
}

.teachers__img img {
    max-width: 100%;
}

.teachers__img_1 img,
.teachers__img_5 img {
    border-radius: 0 80px 0 0;
}

.teachers__img_2 img {
    border-radius: 0 0 0 80px;
}

.teachers__img_3 img {
    border-radius: 80px 0 0 0;
}

.teachers__img_6 img,
.teachers__img_4 img {
    border-radius: 0 0 80px 0;
}

.teachers__item p {
    font-size: 14px;
    margin-top: 15px;
}

/* -------- format -------- */
.format {
    overflow: hidden;
}

.format .platform__img-box {
    position: relative;
    max-width: 500px;
}

.format__container {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.format .dashed  {
    border-radius: 0 130px 0 0;
}

.format .platform__img img {
    border-radius: 0 130px 0 0;
}

/* -------- course -------- */
.course__container {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.course__wrapper {
    display: grid;
    justify-content: center;
    gap: 30px;
    margin-top: 55px;
    grid-template-columns: 25% 25% 25% 25%;
}

.course__item {
    width: 100%;
    background-color: #FDFDFD;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}

.course__img {
    text-align: center;
    height: 83%;
}

.course__img img {
    max-width: 100%;
}

.course__item p {
    font-family: "Raleway-Medium", sans-serif; 
    line-height: 1;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 15px;
    text-align: start;
}

.course .button-green {
    margin-top: 60px;
}

/* -------- join -------- */
.join {
    background: url(../img/s5_img-bg.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.join .best-teacher__box {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-right: 69px;
}

.join__container {
    display: flex;
    justify-content: end;
}

/* -------- footer -------- */
.footer {
    padding-top: 120px;
}

.footer hr {
    border: 1px solid #E9EAED;
}

.footer__wrapper {
    display: grid;
    gap: 64px;
    grid-template-columns: minmax(auto, 270px) auto auto auto minmax(auto, 182px);
    margin-bottom: 50px;
    margin-top: 80px;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    margin-bottom: 27px;
}

.wrapper-animation .logo-svg,
.footer__logo .logo-svg {
    fill: #353A5A;
}

.footer-title_1 {
    font-size: 14px;
    line-height: 1.3;
    color: #353A5A;
    transition: all .3s ease 0s;
}

.footer__chapter {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 17px;
    line-height: 1;
    color: #353A5A;
    margin-bottom: 31px;
}

.footer__item a {
    color: #353A5A;
    transition: all .3s ease 0s;
}

.footer__item a:hover,
.footer-title_1:hover {
    color: rgba(53, 58, 90, .4);
}

.footer-title_1:active,
.footer__item a:active {
    color: rgba(53, 58, 90, .8);
}

.footer-text:hover,
.footer-text:active {
    color: #353A5A;
}

.footer__item a + a {
    margin-top: 20px;
}

.footer__item .social {
    position: static;
    flex-direction: row;
    column-gap: 25px;
    margin-top: 47px;
}

.footer__item .social a + a {
    margin-top: 0;
}

.footer__item .social-footer {
    fill: #353A5A;
    opacity: .3;
}

.footer__item a:hover .social-footer {
    fill: #10B582;
    opacity: .6;
}

.footer__right {
    border-top: 1px solid #E9EAED;
}

.footer-right__container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__data a + a {
    margin-left: 30px;
}

/* -------- page-animation -------- */
.wrapper-animation .header {
    background-color: #FDFDFD;
}

.wrapper-animation .header__logo {
    display: block;
}

.wrapper-animation .header__nav {
    margin: 0;
}

.wrapper-animation .header__link {
    color: #353A5A;
}

.pages {
    padding-top: 120px;
}

.links__container,
.link {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.link {
    font-size: 14px;
    line-height: 1;
    color: #353A5A;
    transition: all .4s ease 0s;
}

.link:hover {
    color: #FA9F42;
}

.link:active {
    opacity: .5;
    color: #FA9F42;
}

.link-active {
    opacity: .5;
}

.motion {
    padding-bottom: 120px;
}

.motion__wrapper {
    margin-top: 60px;
}

.main-motion__title {
    text-align: start;
}

.motion__img,
.main-motion__text {
    margin-top: 40px;
}

.motion__img img {
    max-width: 100%;
}

.main-motion__text p + p {
    margin-top: 25px;
    margin-bottom: 0;
}

.main-motion__text p {
    max-width: 796px;
}

.main-motion__text p:nth-child(1) {
    font-family: "Raleway-Medium", sans-serif; 
    font-size: 22px;
    line-height: 1.3;
    max-width: 859px;
}

.motion__container .numbers {
    padding-top: 80px;
}

.wrapper-animation .format__container {
    flex-direction: row-reverse;
    align-items: center;
}

.wrapper-animation .format .platform__img img,
.wrapper-animation .format .dashed {
    border-radius: 120px 0 0 0;
}

.wrapper-animation .format .dashed {
    left: -30px;
}

.wrapper-animation .format .best-teacher__box {
    max-width: 540px;
}

.wrapper-animation .format .best-teacher__text {
    max-width: 474px;
}

.wrapper-animation .course__name {
    display: flex;
    gap: 8px;
    align-items: center;
}

.wrapper-animation .course__name span {
    font-family: "Raleway-Medium", sans-serif;
    color: #353A5A;
    text-align: left;
}

.wrapper-animation .course__name .course__img {
    height: auto; 
}

.wrapper-animation .course__item p {
    font-size: 14px;
}

.wrapper-animation .join {
    background: url(../img/page_2-s4_img.jpg) no-repeat center/cover;
}

.wrapper-animation .best-teacher__box {
    max-width: 444px;
}

.wrapper-animation .best-teacher__box .title {
    max-width: 332px;
}

.wrapper-animation .footer {
    padding-top: 0;
}

.questions {
    padding-top: 120px;
    padding-bottom: 120px;
}

.questions__wrapper {
    margin: 60px auto 0;
    max-width: 830px;
}

.questions__wrapper .accordion .accordion-item {
    border: none;
}

.questions__wrapper .accordion div + div {
    margin-top: 30px;
}

.questions__wrapper .accordion-button::after {
    background-image: url(../img/icons/open.svg);
}

.questions__wrapper .accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/close.svg);
}

.questions__wrapper .accordion-button {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 22px;
    line-height: 1.3;
    color: #353A5A;
    background: #FDFDFD;
}

.questions__wrapper .accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

.questions__wrapper .accordion-body {
    line-height: 1.3;
    color: #353A5A;
    background-color: #FDFDFD;
}

.questions__wrapper .accordion .accordion-item{
    box-shadow: 5px 5px 30px rgb(101 101 101 / 12%);
    border-radius: 10px;
}

.questions__wrapper .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.questions__wrapper .accordion-flush .accordion-item .collapsed {
    border-radius: 10px;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 10px 10px 0 0;
}

.questions__wrapper .accordion-item .accordion-body {
    border-radius: 0 0 10px 10px;
}

.questions__wrapper .accordion-item .show .accordion-body {
    border-radius: 0 0 10px 10px;
}